@tailwind base;
@tailwind components;
@tailwind utilities;

.section>p {
    @apply font-gotham-light text-lg;
}
.section>p>strong {
    @apply font-gotham-medium font-normal;
}
.section blockquote {
    @apply border border-solid p-4 rounded-xl space-y-2 mb-8;
}
.section.child blockquote {
    @apply bg-blue-200 border-blue;
}
.section.maternal blockquote {
    @apply bg-purple-200 border-purple-700;
}
.section blockquote p {
    @apply font-gotham-light text-lg;
}
.section blockquote p strong{
    @apply font-gotham-medium font-normal;
}
.section.child blockquote p strong {
    @apply text-blue;
}
.section.maternal blockquote p strong {
    @apply text-purple;
}
.section ul {
    @apply pl-6 list-disc space-y-4;
}
.section ul li {
    @apply font-gotham-light text-lg;
}

/* FIX WP ADMIN BAR */
#wpadminbar {
    position:absolute;
    top:-32px;
}
.layer-wrapper {
    display:flex;
    flex-direction:column;
    height:100%;
}